<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header" class="sticky-top app-header">
    <nav class="navbar navbar-expand-lg py-3 px-4">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/home}">
                <span class="brand-mark"><i data-lucide="car-front" style="width: 21px; height: 21px;"></i></span>
                <span class="brand-text">FU<span>CarRenting</span></span>
            </a>

            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <i data-lucide="menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-2">
                    <li class="nav-item" th:if="${session.account != null}">
                        <span class="nav-link fw-semibold text-secondary" th:text="${session.account.accountName}">Account</span>
                    </li>
                    <li class="nav-item" th:if="${session.account != null}">
                        <form th:action="@{/auth/logout}" method="post">
                            <button type="submit" class="btn-outline-modern">
                                <i data-lucide="log-out" style="width: 17px; height: 17px;"></i>
                                Log out
                            </button>
                        </form>
                    </li>
                    <li class="nav-item" th:if="${session.account == null}">
                        <a class="btn-outline-modern" th:href="@{/auth/signin}">Sign in</a>
                    </li>
                    <li class="nav-item" th:if="${session.account == null}">
                        <a class="btn-primary-modern" th:href="@{/auth/signup}">
                            Sign up
                            <i data-lucide="arrow-right" style="width: 18px; height: 18px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>
