<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="userSidebar" class="d-flex flex-column h-100">
    <div class="mb-4 px-1">
        <h6 class="sidebar-heading mb-3">Rental Desk</h6>
        <ul class="nav flex-column gap-2">
            <li class="nav-item">
                <a th:href="@{/home}" class="sidebar-link" data-active-prefix="/home">
                    <i data-lucide="layout-dashboard" style="width: 20px; height: 20px;"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/carRental/rentalRegister}" class="sidebar-link" data-active-prefix="/carRental/rentalRegister">
                    <i data-lucide="car-front" style="width: 20px; height: 20px;"></i>
                    Rent a Car
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/carRental/history}" class="sidebar-link" data-active-prefix="/carRental/history">
                    <i data-lucide="history" style="width: 20px; height: 20px;"></i>
                    History
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/account/updateProfile}" class="sidebar-link" data-active-prefix="/account">
                    <i data-lucide="user-round-cog" style="width: 20px; height: 20px;"></i>
                    Profile
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>
