<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<div>
    <form th:action="@{/auth/signin}" th:object="${account}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <h3>Sign in</h3>

        <div>
            <div th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}"></div>
            <label>Username</label>
            <input type="text" th:field="*{accountName}" placeholder="Enter account name" required>
        </div>
        <br>
        <div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <label>Password</label>
            <input type="password" th:field="*{password}" placeholder="Enter password" required>
        </div>

        <button type="submit">Sign in</button>

        <p>
            Don't have an account? <a th:href="@{/auth/signup}">Register</a>
        </p>

    </form>
</div>
</body>
</html>