<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style>
        .text-danger {
            color: red;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
<form th:action="@{/auth/signup}" th:object="${registerDTO}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-danger"></p>
    </div>

    <h3>Sign up</h3>

    <div>
        <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></div>
        <span>Fullname</span>
        <input type="text" th:field="*{fullName}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        <span>Email</span>
        <input type="text" th:field="*{email}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="text-danger"></div>
        <span>Mobile</span>
        <input type="text" th:field="*{mobile}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="text-danger"></div>
        <span>Birthday</span>
        <input type="date" th:field="*{birthday}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('identityCard')}" th:errors="*{identityCard}" class="text-danger"></div>
        <span>Identity Card</span>
        <input type="text" th:field="*{identityCard}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('licenceNum')}" th:errors="*{licenceNum}" class="text-danger"></div>
        <span>Licence Number</span>
        <input type="text" th:field="*{licenceNum}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('licenceDate')}" th:errors="*{licenceDate}" class="text-danger"></div>
        <span>Licence Date</span>
        <input type="date" th:field="*{licenceDate}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}" class="text-danger"></div>
        <span>Account Name</span>
        <input type="text" th:field="*{accountName}">
    </div>
    <br>
    <div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        <span>Password</span>
        <input type="password" th:field="*{password}">
    </div>
    <br>

    <button type="submit">Sign up</button>

    <p>
        Already have an account? <a th:href="@{/auth/signin}">Sign in</a>
    </p>

</form>
</body>
</html>